/* ===General=== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;

}


.format-header{
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    max-width: 1200px;
    padding: 1.2rem;
}

.format-cards{
    margin: 0 auto;
    max-width: 1200px;
    padding: 1.2rem;
}

:root{
    --title :#E53170;
    --paragraph : #293149;
    --bgcards : #0F0E17;
    --cards-text:#FFFFFF;
    --links:#44B2E1;
    --bgpage:#FFFFFE;
}

.floatleft{
    float: left;
}

.floaright{
    float: right;
}

.clearfix::after{
    content:"";
    display: block;
    clear:both;
}

/* ===End general=== */

/* ===HEADER=== */
.title{
    display: block;
    position: relative;
    font-weight: 700;
    text-align: center;
    color: var(--title);
    font-size: 1.5em;
}

.paragraph{
    display: block;
    position: relative;
    font-size: 1.2em;
}
/* ===END HEADER=== */




/* ===MAIN PAGE=== */

.line2{
    margin-top: 20px;
}
/* CARDS */
.card{
    width: 30%;
    box-shadow: 3px 3px 5px #293149,-3px -3px 5px #293149;

}

.center{
    margin:0 57px 0 57px;
}

img{
    height: 100px;
}

.info{
    height: 100px;
    background-color: var(--bgcards);
    padding: 10px;
}


.name{
    font-weight: 700;
    color: var(--cards-text);
    margin-left: 100px;
}
.job{
    font-weight: 400;
    color: var(--cards-text);
    margin: 5px 0px 5px 100px;
}
section > a{
    text-decoration: none;
    color: var(--links);
    margin-left: 10px;
}


/* ===END MAIN PAGE=== */